name: Update Stock Data

on:
  schedule:
    - cron: '0 0 * * *' # Minuit tous les jours
  workflow_dispatch: # Bouton manuel

jobs:
  build:
    runs-on: ubuntu-latest
    # On augmente le temps max à 60 min car l'installation des outils peut être longue
    timeout-minutes: 60

    steps:
    - name: Récupération du code
      uses: actions/checkout@v3

    - name: Installation Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Installation des Outils (Critique)
      run: |
        python -m pip install --upgrade pip
        # On installe tout directement ici pour être sûr que rien ne manque
        pip install yfinance pandas lxml html5lib requests beautifulsoup4

    - name: Lancement du Screener
      run: |
        # C'EST ICI QUE SE TROUVAIT L'ERREUR
        # On lance screener.py car c'est votre fichier d'origine
        python screener.py

    - name: Sauvegarde des résultats
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add data.json
        # Le commit ne se fait que s'il y a des changements
        git commit -m "Mise à jour auto des Valeurs d'Or" || echo "Pas de changement détecté"
        git push
        git config --global user.email 'action@github.com'
        git add data.json
        git commit -m "Mise à jour des Valeurs d'Or Buffett" || exit 0
        git push
